# AWS Credentials
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

# SQS
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/YOUR_ACCOUNT_ID/your-queue-name

# ECS Fargate
ECS_CLUSTER=video-transcoder-cluster
ECS_TASK_DEFINITION=video-transcoder-task:1
ECS_CONTAINER_NAME=video-transcoder-container
ECS_SUBNET_1=subnet-xxxxxxxxxxxxxxxxx
ECS_SUBNET_2=subnet-yyyyyyyyyyyyyyyyy
